services:
  gitexercises:
    container_name: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    build:
      context: .
      args:
        WWW_DATA_UID: ${UID}
    volumes:
      - ../:/var/www/website
      - ./apache-conf:/etc/apache2/sites-available:z
    logging:
      options:
        max-size: 50m

networks:
  default:
    name: webproxy
    external: true
